@use 'colors' as c;
.about {
    display: flex;
    flex-direction: column;
    img {
        width: 4.5rem;
    }
    .tiles {
        margin: 0 auto;
        .tile {
            margin: 0 auto 3rem auto;
            max-width: 43rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    ul {
        list-style-type: '-  ';
        padding: 0 1.5rem;
    }
    li {
        margin-bottom: 1rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .divider {
        margin-bottom: 1.75rem;
    }
    .resume-link {
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            margin: 0 auto 1.5rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        .quote {
            font-size: 1.8rem;
        }
        .tiles {
            flex-direction: row;
            .tile {
                margin: 0;
            }
        }
        .info {
            position: relative;
        }
    }
}

@media screen and (min-width: 1024px) {
    .about {
        .quote {
            font-size: 2rem;
        }
        .tiles {
            flex-direction: column;
            width: 26rem;
        }
        .info {
            display: flex;
            gap: 6rem;
            position: relative;
            &>.divider {
                display: none;
            }
            &::after {
                background-color: c.$yellow;
                content: '';
                height: 97%;
                left: 28.9rem;
                position: absolute;
                top: 2rem;
                width: 0.1rem;
            }
        }
    }
}