@use 'colors' as c;
.about {
    display: flex;
    flex-direction: column;
    .banner {
        background-color: c.$lt-yellow;
        border-radius: 0.5rem;
        width: 100%;
        margin: 2rem auto;
        div:not(.decoration) {
            margin: 0 auto;
            max-width: 55rem;
            padding: 1rem;
        }
        .decoration {
            &:first-of-type {
                border-radius: 0.5rem 0.5rem 0 0;
            }
            &:last-of-type {
                border-radius: 0 0 0.5rem 0.5rem;
            }
        }
    }
    img {
        height: 4.5rem;
        width: 4.5rem;
    }
    .tiles {
        margin: 0 auto;
        .tile {
            margin: 0 auto 3rem auto;
            max-width: 43rem;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
    ul {
        list-style-type: '-  ';
        padding: 0 1.5rem;
    }
    li {
        margin-bottom: 1rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
    .resume-link {
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            margin: 0 auto 1rem;
        }
    }
    .back-to-top {
        align-items: center;
        display: flex;
        flex-direction: column;
        img {
            height: 7rem;
            margin: 0 auto 1rem;
        }
    }
}

@media screen and (min-width: 768px) {
    .about {
        .banner {
            font-size: 1.8rem;
        }
        .tiles {
            flex-direction: row;
            .tile {
                margin: 0;
            }
        }
        .info {
            position: relative;
        }
        .back-to-top {
            position: absolute;
            bottom: 0;
            left: 8.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .about {
        .banner {
            font-size: 2rem;
        }
        .tiles {
            flex-direction: column;
            width: 26rem;
        }
        .info {
            display: flex;
            gap: 4rem;
            position: relative;
            &>.divider {
                display: none;
            }
            &::after {
                background-color: c.$yellow;
                content: '';
                height: 100%;
                left: 28rem;
                position: absolute;
                top: 0;
                width: 0.1rem;
            }
        }
    }
}