@use 'colors' as c;
.games {
    .tiles {
        background-color: c.$lt-yellow;
        // padding: 3rem;
        padding: 2rem;
        // width: 100%;
    }
    .game-tile {
        margin: 0 auto;
        .img-container {
            border: 0.1rem solid c.$orange;
            border-bottom: none;
            border-radius: 0.5rem 0.5rem 0 0;
            img {
                border-radius: 0.5rem 0.5rem 0 0;
                height: 100%;
                object-fit: cover;
            }
        }
        .tile-title {
            color: c.$orange;
            letter-spacing: 0.1rem;
            margin-bottom: 0.5rem;
        }
        .content {
            background-color: #fff;
            border: 0.1rem solid c.$orange;
            border-radius: 0 0 0.5rem 0.5rem;
            color: #000;
            padding: 2rem;
        }
        &:hover {
            .tile-title {
                color: c.$yellow;
            }
            .img-container,
            .content {
                border-color: c.$yellow;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .games {
        .game-tile {
            display: flex;
            width: 58rem;
            .img-container {
                order: 1;
                border-bottom: 0.1rem solid c.$orange;
                border-left: none;
                border-radius: 0 0.5rem 0.5rem 0;
                flex-basis: 50%;
                img {
                    border-radius: 0 0.5rem 0.5rem 0;
                }
            }
            .content {
                border-radius: 0.5rem 0 0 0.5rem;
                flex-basis: 50%;
                padding-left: 5rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .games {
        section {
            flex-basis: 48%;
        }
        &>div {
            display: flex;
            justify-content: space-between;
        }
        .game-tile {
            width: 41.5rem;
            .content {
                flex-basis: 55%;
                padding: 2rem 0 2rem 2rem;
            }
        }
    }
}