@use 'colors' as c;
header {
    background-color: white;
    box-shadow: 0 0 0.5rem 0 c.$orange;
    flex-wrap: wrap;
    position: relative;
    width: 100vw;
    >.flex {
        justify-content: space-between;
        max-width: 100rem;
    }
}

.logo {
    color: #000;
    cursor: pointer;
    margin-right: 1.5rem;
    img {
        margin-right: 1.2rem;
    }
    span {
        display: block;
        font-size: 2rem;
        margin-top: 0.5rem;
        white-space: nowrap;
    }
    &:hover {
        color: c.$orange;
    }
}

.menu-icon {
    align-self: flex-end;
    cursor: pointer;
    flex-basis: 2rem;
}

nav {
    background-color: #fff;
    left: 0;
    max-height: 0;
    overflow: hidden;
    padding: 1rem 0;
    position: absolute;
    top: 101%;
    transition: max-height 0.5s ease-in-out;
    visibility: hidden;
    width: 100vw;
    z-index: 1;
    ul {
        display: flex;
        flex-direction: column;
    }
    li {
        padding: 1rem 1.25rem;
        &>ul.dropdown-menu {
            margin-top: 1rem;
            &>li:last-of-type {
                padding-bottom: 0;
            }
        }
    }
    a {
        display: flex;
        color: black;
        font-size: 1.8rem;
        text-align: center;
        svg {
            margin-left: 0.5rem;
            width: 1.5rem;
        }
        &:hover {
            color: c.$orange;
        }
        &.current {
            font-weight: bold;
        }
    }
}

.active-nav {
    box-shadow: 0 0 0.5rem 0 c.$orange;
    max-height: 100rem;
    transition: max-height 0.5s ease-in-out;
    visibility: visible;
}

@media screen and (min-width: 768px) {
    .menu-icon {
        display: none;
    }
    .logo {
        flex-basis: 40%;
        img {
            margin-right: 1.25rem;
        }
    }
    nav {
        flex-basis: 60%;
        max-height: 10rem;
        overflow: visible;
        position: static;
        visibility: visible;
        ul.main-menu {
            flex-direction: row;
            justify-content: flex-end;
            .top-level {
                position: relative;
            }
        }
        ul.dropdown-menu {
            background-color: #fff;
            border: 0.1rem solid c.$yellow;
            flex-direction: column;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            left: 2rem;
            top: 80%;
            transition: opacity 0.3s ease;
            visibility: hidden;
            z-index: 1;
        }
        li {
            // max-width: 55rem;
            &:hover {
                &>ul.dropdown-menu {
                    opacity: 1;
                    overflow: visible;
                    transition: opacity 0.3s ease;
                    visibility: visible;
                }
            }
            &>ul.dropdown-menu li:last-of-type {
                padding-bottom: 1rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        img {
            margin-right: 3rem;
        }
        span {
            font-size: 2rem;
        }
    }
    nav li {
        padding: 1rem 1.75rem;
    }
}