@use 'colors' as c;
.pq {
    .quote {
        margin: 3rem auto;
    }
    .flex {
        align-items: baseline;
        border: 0.1rem solid c.$orange;
        border-top: none;
        gap: 4rem;
        overflow-x: scroll;
        padding: 2rem;
        &::-webkit-scrollbar {
            width: 1rem;
        }
        &::-webkit-scrollbar-track {
            background-color: #fff;
            box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
        }
        &::-webkit-scrollbar-thumb {
            background-color: c.$orange;
            box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.4);
        }
        .gallery-img {
            flex-basis: 4.5rem;
        }
        img {
            height: 7rem;
            margin: 0 auto 1rem;
            object-fit: cover;
            padding-left: 0.2rem;
            width: 7rem;
            &.enlarge {
                height: auto;
                left: 50%;
                position: fixed;
                top: 50%;
                transform: scale(1);
                transform: translate(-50%, -50%);
                width: auto;
                z-index: 1;
            }
        }
        .caption {
            font-style: normal;
            margin-bottom: 0;
            min-width: 7rem;
        }
        .description {
            font-size: 1.4rem;
            font-style: italic;
            padding-top: 0.5rem;
            text-align: center;
            white-space: nowrap;
        }
    }
    .picture {
        margin: 0 auto 3.5rem;
    }
    aside {
        font-size: 1.4rem;
        margin-bottom: 3rem;
        text-align: center;
    }
    video {
        border: 2px solid c.$yellow;
        margin: 0 auto;
        max-height: 40rem;
        max-width: 72rem;
        &::-webkit-media-controls-current-time-display,
        &::-webkit-media-controls-time-remaining-display {
            color: c.$orange;
        }
    }
}

@media screen and (min-width: 1024px) {
    .pq {
        .chunk {
            align-items: center;
            display: flex;
            gap: 3rem;
            .picture {
                margin-top: 4rem;
            }
            .reorder {
                order: 1;
                width: 30rem;
            }
        }
        .tiles {
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 0 auto;
            max-width: 94.5rem;
            .tile {
                width: 45.5rem;
            }
        }
    }
}