@use 'colors' as c;
.portfolio {
    .tile-link:hover {
        .tile-title,
        .content {
            border-color: c.$yellow;
        }
    }
    .tile {
        .tile-title {
            padding-left: 4.5rem;
            position: relative;
        }
        svg {
            position: absolute;
            top: 30%;
            left: 1.5rem;
        }
        p {
            text-decoration: underline;
            text-underline-offset: 0.5rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    .portfolio {
        .tiles {
            flex-direction: row;
            justify-content: space-between;
            .tile-link {
                flex-basis: 30%;
            }
        }
    }
}