/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

.flex {
  align-items: center;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 1rem;
}

section {
  padding: 2rem 0;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  text-align: center;
}

h2 {
  color: #ff7700;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
  text-align: center;
}

h3 {
  color: #ff7700;
  letter-spacing: 0.1rem;
}

h3:not(.tile-title) {
  font-family: "EB Garamond", serif;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

p {
  margin-bottom: 1.5rem;
}
p:last-of-type {
  margin-bottom: 0;
}

a {
  color: #ff7700;
  display: inline;
}
a:hover {
  color: #fec71e;
}

.decoration {
  background: #ff7700;
  background: linear-gradient(90deg, #ff7700 0%, #fec71e 100%);
  flex: 1 0 auto;
  height: 0.5rem;
  width: 100%;
}

.divider {
  background-color: #fec71e;
  height: 0.1rem;
  margin: 2rem auto;
  width: 75%;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.5rem 2.5rem;
  }

  .flex.container {
    justify-content: space-between;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 120rem;
  }
}
header {
  box-shadow: 0 0 0.5rem 0 #ff7700;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
}
header > .flex {
  justify-content: space-between;
}

.logo img {
  margin-right: 1.5rem;
}
.logo span {
  display: block;
  font-size: 2rem;
}

.menu-icon {
  align-self: flex-end;
  cursor: pointer;
  flex-basis: 1.8rem;
}

nav {
  background-color: #fff;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 1rem 0;
  position: absolute;
  top: 101%;
  transition: max-height 0.5s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav li {
  line-height: 2;
  margin-left: 2rem;
}
nav a {
  display: flex;
  color: black;
  font-size: 1.8rem;
}
nav a svg {
  margin-left: 0.5rem;
  width: 1.5rem;
}
nav a:hover {
  color: #ff7700;
}
nav a.current {
  font-weight: bold;
}

.active-nav {
  box-shadow: 0 0 0.5rem 0 #ff7700;
  max-height: 100rem;
  transition: max-height 0.5s ease-in-out;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .logo {
    flex-basis: 40%;
  }
  .logo img {
    margin-right: 2rem;
  }

  nav {
    flex-basis: 60%;
    max-height: 10rem;
    overflow: visible;
    position: static;
    visibility: visible;
  }
  nav ul.main-menu {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul.main-menu .top-level {
    position: relative;
  }
  nav ul.main-menu li {
    margin-left: 3rem;
  }
  nav ul.main-menu li:hover > ul {
    opacity: 1;
    overflow: visible;
    transition: opacity 0.3s ease;
    visibility: visible;
  }
  nav ul.dropdown-menu {
    background-color: #fff;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: -20%;
    transition: opacity 0.3s ease;
    visibility: hidden;
    z-index: 1;
  }
}
.home section div > div {
  margin-bottom: 3.5rem;
}
.home section .btn {
  background-color: #ff7700;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.1rem;
  margin: 0 auto 1rem auto;
  padding: 1.5rem 2rem;
  transition: all 0.5s ease;
  width: 60%;
}
.home section .btn svg {
  margin-left: 0.5rem;
}
.home section .btn:hover {
  background-color: #fec71e;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .home section > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .home section > div > div {
    margin-bottom: 0;
    flex-basis: 70%;
  }
  .home section > div a {
    margin: 0;
    max-height: 5.5rem;
    flex-basis: 25%;
    max-width: 20rem;
  }
  .home section > div a svg {
    display: block;
  }
  .home section:nth-of-type(2) a {
    order: -1;
  }
}
.about {
  display: flex;
  flex-direction: column;
}
.about .banner {
  background-color: #fff7e0;
  border-radius: 0.5rem;
  margin: 2rem auto;
  max-width: 43rem;
}
.about .banner div:not(.decoration) {
  padding: 1rem;
}
.about .banner .decoration:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
.about .banner .decoration:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}
.about svg,
.about img {
  height: 4.5rem;
  width: 4.5rem;
}
.about .tiles {
  margin: 0 auto;
}
.about .tiles .tile {
  margin: 0 auto 3rem auto;
  max-width: 43rem;
}
.about .tiles .tile:last-of-type {
  margin-bottom: 0;
}
.about .tiles .tile .tile-title {
  background-color: #ff7700;
  border: 0.1rem solid #ff7700;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff;
  padding: 1rem;
}
.about .tiles .tile .flex {
  border: 0.1rem solid #ff7700;
  border-radius: 0 0 0.5rem 0.5rem;
  flex-wrap: wrap;
  gap: 1.2rem;
  justify-content: center;
  padding: 2rem 1rem;
}
.about ul {
  list-style-type: "-  ";
  padding: 0 1.5rem;
}
.about li {
  margin-bottom: 1rem;
}
.about li:last-of-type {
  margin-bottom: 0;
}
.about .resume-link {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about .resume-link img {
  margin: 0 auto 1rem;
}
.about .back-to-top {
  display: none;
}

@media screen and (min-width: 768px) {
  .about .tiles {
    display: flex;
    gap: 3rem;
    justify-content: center;
  }
  .about .tiles .tile {
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .about .tiles {
    flex-direction: column;
    width: 26rem;
  }
  .about .info {
    display: flex;
    gap: 4rem;
  }
  .about .info > .divider {
    display: none;
  }
  .about .back-to-top {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: auto;
  }
  .about .back-to-top img {
    height: 7rem;
    margin: 0 auto 1rem;
  }
}
footer {
  background-color: #fff7e0;
  box-shadow: 0.5rem 0 0 0 #ff7700;
  text-align: center;
}
footer span {
  display: block;
}
footer .decoration {
  height: 0.5rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */