/*
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #fff7e0;
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
}

main {
  background-color: white;
  padding-bottom: 2rem;
}

.flex {
  align-items: center;
  display: flex;
}

.container {
  margin: 0 auto;
  padding: 1rem 1.5rem;
}

section {
  padding: 2rem 0;
}

.only-lg-screen {
  display: none;
}

h1 {
  font-family: "EB Garamond", serif;
  font-size: 3rem;
  line-height: 1.25;
  text-align: center;
}

h2 {
  color: #ff7700;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
  margin: 2rem 0;
  text-align: center;
}

h3 {
  color: #ff7700;
  letter-spacing: 0.1rem;
}

h3:not(.tile-title) {
  font-family: "EB Garamond", serif;
  font-size: 2.4rem;
  margin-bottom: 3rem;
  text-align: center;
}

h3.lined {
  align-items: center;
  display: flex;
  margin: 0 auto 3rem;
}
h3.lined::before, h3.lined::after {
  content: "";
  border-top: 0.1rem solid #fec71e;
  margin: 0 2rem;
  flex-grow: 1;
}

h4 {
  font-size: 1.8rem;
}

p {
  margin-bottom: 1.5rem;
}
p:last-of-type {
  margin-bottom: 0;
}
p.note {
  font-size: 1.2rem;
  margin-top: 0.5rem;
  text-align: center;
}

a {
  color: #ff7700;
  display: inline;
}
a:hover {
  color: #fec71e;
}

.quote {
  background-color: #fff7e0;
  border-radius: 0.5rem;
  margin: 2rem auto;
  max-width: 60rem;
  width: 90%;
}
.quote div:not(.decoration) {
  margin: 0 auto;
  max-width: 55rem;
  padding: 1rem;
}
.quote .decoration:first-of-type {
  border-radius: 0.5rem 0.5rem 0 0;
}
.quote .decoration:last-of-type {
  border-radius: 0 0 0.5rem 0.5rem;
}

.tiles {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tile .tile-title {
  background-color: #ff7700;
  border: 0.1rem solid #ff7700;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
  color: #fff;
  padding: 1rem;
}
.tile .content {
  border: 0.1rem solid #ff7700;
  border-top: none;
  border-radius: 0 0 0.5rem 0.5rem;
  padding: 2rem;
}
.tile .content.flex {
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-around;
}
.tile img {
  height: 4.5rem;
  width: 4.5rem;
}

.gallery {
  position: relative;
}

.images {
  padding: 2rem;
}
.images .gallery-img {
  align-items: center;
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: center;
}
.images .gallery-img img {
  position: static;
}
.images .gallery-img img.enlarge {
  left: 50%;
  max-height: initial;
  position: fixed;
  top: 50%;
  transform: scale(1);
  transform: translate(-50%, -50%);
  z-index: 1;
}

.caption {
  font-size: 1.4rem;
  font-style: italic;
  padding-top: 0.5rem;
  text-align: center;
  white-space: nowrap;
}

.decoration {
  background: #ff7700;
  background: linear-gradient(90deg, #ff7700 0%, #fec71e 100%);
  flex: 1 0 auto;
  height: 0.5rem;
  width: 100%;
}

.divider {
  background-color: #fec71e;
  height: 0.1rem;
  margin: 2rem auto;
  width: 75%;
}

.back-to-top {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.back-to-top img {
  height: 7rem;
  margin: 0 auto 1rem;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1.5rem 2.5rem;
  }

  .flex.container {
    justify-content: space-between;
  }

  h1 {
    white-space: nowrap;
  }

  h3.lined {
    width: 80%;
  }

  p:last-of-type {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    padding: 2rem 3.5rem;
  }

  .only-lg-screen {
    display: block;
  }

  .not-lg-screen {
    display: none;
  }

  h1 {
    font-size: 3rem;
  }

  .back-to-top {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 120rem;
  }
}
header {
  background-color: white;
  box-shadow: 0 0 0.5rem 0 #ff7700;
  flex-wrap: wrap;
  position: relative;
  width: 100vw;
}
header > .flex {
  justify-content: space-between;
  max-width: 100rem;
}

.logo {
  color: #000;
  cursor: pointer;
  margin-right: 1.5rem;
}
.logo img {
  margin-right: 1.2rem;
}
.logo span {
  display: block;
  font-size: 2rem;
  margin-top: 0.5rem;
  white-space: nowrap;
}
.logo:hover {
  color: #ff7700;
}

.menu-icon {
  align-self: flex-end;
  cursor: pointer;
  flex-basis: 2rem;
}

nav {
  background-color: #fff;
  left: 0;
  max-height: 0;
  overflow: hidden;
  padding: 1rem 0;
  position: absolute;
  top: 101%;
  transition: max-height 0.5s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: 1;
}
nav ul {
  display: flex;
  flex-direction: column;
}
nav li {
  padding: 1rem 1.25rem;
}
nav li > ul.dropdown-menu {
  margin-top: 1rem;
}
nav li > ul.dropdown-menu > li:last-of-type {
  padding-bottom: 0;
}
nav a {
  display: flex;
  color: black;
  font-size: 1.8rem;
  text-align: center;
}
nav a svg {
  margin-left: 0.5rem;
  width: 1.5rem;
}
nav a:hover {
  color: #ff7700;
}
nav a.current {
  font-weight: bold;
}

.active-nav {
  box-shadow: 0 0 0.5rem 0 #ff7700;
  max-height: 100rem;
  transition: max-height 0.5s ease-in-out;
  visibility: visible;
}

@media screen and (min-width: 768px) {
  .menu-icon {
    display: none;
  }

  .logo {
    flex-basis: 40%;
  }
  .logo img {
    margin-right: 1.25rem;
  }

  nav {
    flex-basis: 60%;
    max-height: 10rem;
    overflow: visible;
    position: static;
    visibility: visible;
  }
  nav ul.main-menu {
    flex-direction: row;
    justify-content: flex-end;
  }
  nav ul.main-menu .top-level {
    position: relative;
  }
  nav ul.dropdown-menu {
    background-color: #fff;
    border: 0.1rem solid #fec71e;
    flex-direction: column;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    left: 2rem;
    top: 80%;
    transition: opacity 0.3s ease;
    visibility: hidden;
    z-index: 1;
  }
  nav li:hover > ul.dropdown-menu {
    opacity: 1;
    overflow: visible;
    transition: opacity 0.3s ease;
    visibility: visible;
  }
  nav li > ul.dropdown-menu li:last-of-type {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo img {
    margin-right: 3rem;
  }
  .logo span {
    font-size: 2rem;
  }

  nav li {
    padding: 1rem 1.75rem;
  }
}
.home .divider {
  margin-bottom: 0;
}
.home section {
  text-align: center;
}
.home section:first-of-type {
  padding-top: 0;
}
.home section div > div {
  margin-bottom: 3.5rem;
}
.home section .btn {
  background-color: #ff7700;
  border: none;
  border-radius: 0.5rem;
  color: #fff;
  font-size: 1.8rem;
  font-weight: bold;
  justify-content: center;
  letter-spacing: 0.1rem;
  margin: 0 auto 1rem auto;
  padding: 1.5rem 2rem;
  transition: all 0.5s ease;
  white-space: nowrap;
  width: 75%;
}
.home section .btn svg {
  margin-left: 0.5rem;
}
.home section .btn:hover {
  background-color: #fec71e;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .home section {
    text-align: left;
  }
  .home section .btn {
    margin: 0;
  }
  .home section > div {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  .home section > div > div {
    margin-bottom: 0;
    flex-basis: 70%;
  }
  .home section > div a {
    margin: 0;
    max-height: 5.5rem;
    flex-basis: 25%;
    max-width: 20rem;
  }
  .home section > div a svg {
    display: block;
  }
  .home section:nth-of-type(2) a {
    order: -1;
  }
}
.about {
  display: flex;
  flex-direction: column;
}
.about img {
  width: 4.5rem;
}
.about .tiles {
  margin: 0 auto;
}
.about .tiles .tile {
  margin: 0 auto 3rem auto;
  max-width: 43rem;
}
.about .tiles .tile:last-of-type {
  margin-bottom: 0;
}
.about ul {
  list-style-type: "-  ";
  padding: 0 1.5rem;
}
.about li {
  margin-bottom: 1rem;
}
.about li:last-of-type {
  margin-bottom: 0;
}
.about .divider {
  margin-bottom: 1.75rem;
}
.about .resume-link {
  align-items: center;
  display: flex;
  flex-direction: column;
}
.about .resume-link img {
  margin: 0 auto 1.5rem;
}

@media screen and (min-width: 768px) {
  .about .quote {
    font-size: 1.8rem;
  }
  .about .tiles {
    flex-direction: row;
  }
  .about .tiles .tile {
    margin: 0;
  }
  .about .info {
    position: relative;
  }
}
@media screen and (min-width: 1024px) {
  .about .quote {
    font-size: 2rem;
  }
  .about .tiles {
    flex-direction: column;
    width: 26rem;
  }
  .about .info {
    display: flex;
    gap: 6rem;
    position: relative;
  }
  .about .info > .divider {
    display: none;
  }
  .about .info::after {
    background-color: #fec71e;
    content: "";
    height: 97%;
    left: 28.9rem;
    position: absolute;
    top: 2rem;
    width: 0.1rem;
  }
}
.portfolio .tile-link:hover .tile-title,
.portfolio .tile-link:hover .content {
  border-color: #fec71e;
}
.portfolio .tile .tile-title {
  padding-left: 4.5rem;
  position: relative;
}
.portfolio .tile svg {
  position: absolute;
  top: 30%;
  left: 1.5rem;
}
.portfolio .tile p {
  color: #000;
}

@media screen and (min-width: 1024px) {
  .portfolio .tiles {
    flex-direction: row;
    justify-content: space-between;
  }
  .portfolio .tiles .tile-link {
    flex-basis: 30%;
  }
}
.games .tiles {
  background-color: #fff7e0;
  padding: 2rem;
}
.games .game-tile {
  margin: 0 auto;
}
.games .game-tile .img-container {
  border: 0.1rem solid #ff7700;
  border-bottom: none;
  border-radius: 0.5rem 0.5rem 0 0;
}
.games .game-tile .img-container img {
  border-radius: 0.5rem 0.5rem 0 0;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.games .game-tile .tile-title {
  color: #ff7700;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}
.games .game-tile .content {
  background-color: #fff;
  border: 0.1rem solid #ff7700;
  border-radius: 0 0 0.5rem 0.5rem;
  color: #000;
  padding: 2rem;
}
.games .game-tile:hover .tile-title {
  color: #fec71e;
}
.games .game-tile:hover .img-container,
.games .game-tile:hover .content {
  border-color: #fec71e;
}

@media screen and (min-width: 768px) {
  .games .game-tile {
    display: flex;
    width: 58rem;
  }
  .games .game-tile .img-container {
    order: 1;
    border-bottom: 0.1rem solid #ff7700;
    border-left: none;
    border-radius: 0 0.5rem 0.5rem 0;
    flex-basis: 50%;
  }
  .games .game-tile .img-container img {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  .games .game-tile .content {
    border-radius: 0.5rem 0 0 0.5rem;
    flex-basis: 50%;
    padding-left: 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .games section {
    flex-basis: 48%;
  }
  .games > div {
    display: flex;
    justify-content: space-between;
  }
  .games .game-tile {
    width: 41.5rem;
  }
  .games .game-tile .content {
    flex-basis: 55%;
    padding: 2rem 0 2rem 2rem;
  }
}
.game-page .gallery {
  position: relative;
}
.game-page .gallery .images {
  background-color: #fff7e0;
  gap: 3rem;
  overflow-x: scroll;
  padding: 2rem;
  white-space: nowrap;
}
.game-page .gallery .images::-webkit-scrollbar {
  width: 1rem;
}
.game-page .gallery .images::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
}
.game-page .gallery .images::-webkit-scrollbar-thumb {
  background-color: #ff7700;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.4);
}
.game-page .gallery .images .gallery-img {
  min-width: 15rem;
}
.game-page .note {
  text-align: center;
  padding-top: 0.5rem;
}
.game-page .only-lg-screen {
  margin: 0 auto;
  max-width: 30rem;
}
.game-page .only-lg-screen .tile-title,
.game-page .only-lg-screen .content {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .game-page .tiles {
    flex-direction: row;
  }
  .game-page .tiles .tile:first-of-type {
    flex-basis: 50%;
  }
  .game-page .tiles .tile {
    max-height: 16.2rem;
  }
  .game-page .tiles .tile ul {
    display: flex;
    flex-wrap: wrap;
  }
  .game-page .tiles .tile ul li {
    flex-basis: 50%;
    white-space: nowrap;
  }
  .game-page .gallery {
    margin-bottom: 0;
  }
  .game-page .gallery img {
    max-height: 15.5rem;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.artwork p {
  margin-bottom: 2rem;
  text-align: center;
}
.artwork .images {
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}
.artwork .images img {
  max-height: 15rem;
}
.artwork .gallery-img {
  flex-basis: 45%;
}

@media screen and (min-width: 768px) {
  .artwork .gallery-img {
    flex-basis: auto;
  }
}
.pq .quote {
  margin: 3rem auto;
}
.pq .flex {
  align-items: baseline;
  border: 0.1rem solid #ff7700;
  border-top: none;
  gap: 4rem;
  overflow-x: scroll;
  padding: 2rem;
}
.pq .flex::-webkit-scrollbar {
  width: 1rem;
}
.pq .flex::-webkit-scrollbar-track {
  background-color: #fff;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.3);
}
.pq .flex::-webkit-scrollbar-thumb {
  background-color: #ff7700;
  box-shadow: inset 0 0 0.2rem rgba(0, 0, 0, 0.4);
}
.pq .flex .gallery-img {
  flex-basis: 4.5rem;
}
.pq .flex img {
  height: 7rem;
  margin: 0 auto 1rem;
  -o-object-fit: cover;
     object-fit: cover;
  padding-left: 0.2rem;
  width: 7rem;
}
.pq .flex img.enlarge {
  height: auto;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: scale(1);
  transform: translate(-50%, -50%);
  width: auto;
  z-index: 1;
}
.pq .flex .caption {
  font-style: normal;
  margin-bottom: 0;
  min-width: 7rem;
}
.pq .flex .description {
  font-size: 1.4rem;
  font-style: italic;
  padding-top: 0.5rem;
  text-align: center;
  white-space: nowrap;
}
.pq .picture {
  margin: 0 auto 3.5rem;
}
.pq aside {
  font-size: 1.4rem;
  margin-bottom: 3rem;
  text-align: center;
}
.pq video {
  border: 2px solid #fec71e;
  margin: 0 auto;
  max-height: 40rem;
  max-width: 72rem;
  width: 100%;
}

@media screen and (min-width: 1024px) {
  .pq .chunk {
    align-items: center;
    display: flex;
    gap: 3rem;
  }
  .pq .chunk .picture {
    margin-top: 4rem;
  }
  .pq .chunk .reorder {
    order: 1;
    width: 30rem;
  }
  .pq .tiles {
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 94.5rem;
  }
  .pq .tiles .tile {
    width: 45.5rem;
  }
}
.contact p {
  text-align: center;
}
.contact img {
  margin: 4rem auto 2rem;
  width: 25rem;
}
.contact form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 2.5rem auto 3rem;
  max-width: 62rem;
  padding: 0 1rem;
}
.contact form fieldset {
  border: none;
  margin-top: 1rem;
  padding: 0;
  width: 100%;
}
.contact form fieldset div {
  padding-bottom: 2.5rem;
  position: relative;
}
.contact form fieldset div:last-of-type {
  padding-bottom: 0;
}
.contact form fieldset div svg {
  height: 3.5rem;
  left: 0;
  position: absolute;
  top: -0.4rem;
  width: 3.5rem;
}
.contact form fieldset div svg:last-of-type {
  height: 3rem;
  left: 0.2rem;
  top: -0.2rem;
  width: 3rem;
}
.contact form fieldset label {
  display: block;
  color: #ff7700;
  font-size: 2rem;
  margin: 0 0 1.5rem 4.5rem;
  margin-bottom: 1.5rem;
  position: relative;
}
.contact form fieldset label::after {
  color: #ff7700;
  content: "*";
  font-size: 3rem;
  margin-left: 0.3rem;
  position: absolute;
  top: -14%;
}
.contact form fieldset input,
.contact form fieldset textarea {
  border: 0.2rem solid #ff7700;
  border-radius: 0.5rem;
  margin: 0 0 2.5rem;
  padding: 1.5rem;
  width: 100%;
}
.contact form fieldset input:focus,
.contact form fieldset textarea:focus {
  border-color: #fec71e;
}
.contact form fieldset input:not(:-moz-placeholder-shown):invalid, .contact form fieldset textarea:not(:-moz-placeholder-shown):invalid {
  background: #fae6e6;
}
.contact form fieldset input:not(:-ms-input-placeholder):invalid, .contact form fieldset textarea:not(:-ms-input-placeholder):invalid {
  background: #fae6e6;
}
.contact form fieldset input:not(:placeholder-shown):invalid,
.contact form fieldset textarea:not(:placeholder-shown):invalid {
  background: #fae6e6;
}
.contact form fieldset input:not(:-moz-placeholder-shown):valid, .contact form fieldset textarea:not(:-moz-placeholder-shown):valid {
  background: #e9f0dd;
}
.contact form fieldset input:not(:-ms-input-placeholder):valid, .contact form fieldset textarea:not(:-ms-input-placeholder):valid {
  background: #e9f0dd;
}
.contact form fieldset input:not(:placeholder-shown):valid,
.contact form fieldset textarea:not(:placeholder-shown):valid {
  background: #e9f0dd;
}
.contact form fieldset textarea {
  margin-bottom: 3rem;
  resize: none;
}
.contact form input[type=submit] {
  background-color: #ff7700;
  border-color: #fec71e;
  border-style: outset;
  border-radius: 0.8rem;
  color: #fff;
  cursor: pointer;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  padding: 1rem;
  width: 22.5rem;
}
.contact form input[type=submit]:hover {
  background-color: #fec71e;
}

footer {
  background-color: #fff7e0;
  box-shadow: 0.5rem 0 0 0 #ff7700;
  text-align: center;
}
footer span {
  display: block;
}
footer .decoration {
  height: 0.5rem;
  margin-bottom: 1rem;
}/*# sourceMappingURL=styles.css.map */